//------------------------------------
//  $HANDS
//------------------------------------

.hands
    position: absolute
    z-index: 13
    top: 50%
    left: -140px
    width: 250px
    height: 355px
    transform: translateY(-50%) rotate(25deg)
    background-size: 100% 100%
    background-image: url('../img/grab_yellow_white_left.png')
    @include media("retina2x")
        background-image: url('../img/grab_yellow_white_left@2x.png')


    &--right
        background-image: url('../img/grab_yellow_white.png')
        @include media("retina2x")
            background-image: url('../img/grab_yellow_white@2x.png')
        top: 40%
        left: auto
        right: -140px
        transform: translateY(-40%) rotate(-40deg)

    @include media(">=sm")
        left: -180px
        width: 333px
        height: 403px

        &--right
            left: auto
            right: -180px

    @include media(">=md")
        left: -250px
        top: 60%
        width: 501px
        height: 710px

        &--right
            top: 50%
            left: auto
            right: -250px

    @include media("<sm")
        display: none